<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="element">
                        <h3>O NAS</h3>
                        <div class="hr"></div>
                        <img src="images/ELEKTRYK EL-MAR-transparent.png" alt="Logo El-Mar"><br>
                        <p><small>Firma EL-MAR s.c. została założona w 2008r jako spółka dwóch braci. Początkowo firma specjalizowała się w wykonywaniu instalacji elektrycznych i zatrudniała kilku pracowników. Wraz z rozwojem inwestowaliśmy w sprzęt oraz podnoszenie kwalifikacji.</small></p>
                        <a href="kontakt" class="button">WYCENA ONLINE</a>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="element">
                        <h3>NASZA OFERTA</h3>
                        <div class="hr"></div>
                        <ul class="text-uppercase">
                            <li>
                                Instalacje elektryczne
                            </li>
                            <li>
                                Instalacje odgromowe
                            </li>
                            <li>
                                Instalacje strukturalne
                            </li>
                            <li>
                                Instalacje alarmowe
                            </li>
                            <li>
                                Telewizja przemysłowa
                            </li>
                            <li>
                                Instalacje sygnalizacji pożaru
                            </li>
                            <li>
                                Sieci i przyłącza elektroenergetyczne
                            </li>
                            <li>
                                Sieci światłowodowe
                            </li>
                            <li>
                                Stacje transformatorowe
                            </li>
                            <li>
                                <a href="oferta" class="text-dark">więcej</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="element">
                        <h3>KONTAKT</h3>
                        <div class="hr"></div>
                        <p>
                            <small>
                                <b><i class="fa-solid fa-house-chimney"></i> EL-MAR s.c. Marczak Piotr Marczak Łukasz</b><br>
                                NIP 918-210-77-18<br>
                                Teodorówka Kolonia 17B<br>
                                23-440 Frampol<br>
                                woj. lubelskie
                                <br><br>

                                <b><i class="fa-solid fa-phone"></i> 669 875 700</b><br>
                                <b><i class="fa-solid fa-phone"></i> 505 119 935</b><br>
                                <a href="mailto:kontakt@el-marsc.pl" class="mail"><b><i class="fa-solid fa-envelope"></i> kontakt@el-marsc.pl</b></a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div class="footer2">
        <div class="container">
            <small>Copyright &#169; <?php echo date("Y"); ?> <b>El-Mar S.C.</b></small>
        </div>
    </div>
</footer>